<!DOCTYPE html>
<html lang="ja" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link href=".css" rel="stylesheet">
<title>Insert title here</title>
</head>
<body>
	<h3>商品一覧</h3>
	<div th:each="item,status:${application.itemList}">
		<form th:action="@{/shopping/incart}" method="post">
			<div>
				<input type="hidden" name="index" th:value="${status.index}">
				<span th:text="${item.name}"></span>
				<span th:text="${#numbers.formatInteger(item.price, 1, 'COMMA') + '円'}"></span>
				<button>カートへ</button>
			</div>
		</form>
	</div>
	<br>
	<h3>ショッピングカート</h3>
	<div  th:each="item,status:${session.cartItemList}">
		<form th:action="@{/shopping/delete}" method="post">
			<div>
				<input type="hidden" name="index" th:value="${status.index}">
				<span th:text="${item.name}"></span>
				<span th:text="${#numbers.formatInteger(item.price, 1, 'COMMA') + '円'}"></span>
				<button>削除</button>
			</div>
		</form>
	</div>
	<br>
	<strong>合計</strong>
	<div>
		<span th:text="${#numbers.formatInteger(totalPrice, 1, 'COMMA') + '円'}"></span>
	</div>
</body>
</html>